RewriteEngine On

#this is for specific users
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.php [QSA,NC,L]
RewriteRule ^home\/([^/]*)$ index.php?categoryID=$1 [QSA,NC,L]
RewriteRule ^home\/([^/]*)\/([^/]*)$ index.php?categoryID=$1 [QSA,NC,L]
RewriteRule ^preview8999$ index.php?newsStatus=pending [QSA,NC,L]

RewriteRule ^debate\/([^/]*)$ debate.php?newsID=$1 [QSA,NC,L]
RewriteRule ^debate\/([^/]*)\/([^/]*)$ debate.php?newsID=$1 [QSA,NC,L]

RewriteRule ^registration$ registration.php [QSA,NC,L]