<!DOCTYPE html>
<html ng-app="nlapp">
<head>
<meta charset="UTF-8">
<title>AngularJS Debate Test</title>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
</head>
<body ng-controller="DebateController">
  <section>
    <div>newsID: {{news.newsID}}</div>
    <div>{{dt|date:'dd-MM-yy'}}</div>
    <div style="float:right">{{userID}}</div>
    <div style="float:right">{{displayName}}</div>
    <div>Title: {{news.newsTitle}}</div>
    <div><img src="{{news.newsBannerSource}}"></div>
    <div>Question: {{news.newsQuestion}}</div>
    <div>
      <div> {{percenty | number:0}}% agree</div>
      <div style="float:right"> {{percentn | number:0}}% disagree</div>
    </div>
    <div>
      <button name="voteAgree" id="voteAgree" ng-click="submitAgree()">agree {{userVoteDisagree()?"disabled":""}}</button>
      <button name="voteNo" id="voteNo" ng-click="submitDisagree()">disagree {{userVoteAgree()?"disabled":""}}</button>
    </div>
    <div ng-show="userVoteAgree()">
      <form name="agreeForm" id="agreeForm" ng-submit="submitReply('agree')" novalidate>
      <p>tell us why yes</p>
      <textarea name="agreeArea" id="agreeArea" ng-model="agreeArea" required></textarea>
      <p style="color:red" ng-show="!agreeAreaValid">please input something here</p>
      <button type="submit">submit yes</button>
      </form>
    </div>
    <div ng-show="userVoteDisagree()">
      <form name="disagreeForm" id="disagreeForm" ng-submit="submitReply('disagree')" novalidate>
      <p>tell us why no</p>
      <textarea name="disagreeArea" id="disagreeArea" ng-model="disagreeArea" required></textarea>
      <p style="color:red" ng-show="!disagreeAreaValid">please input something here</p>
      <button type="submit">submit no</button>
      </form>
    </div>
    <div ng-repeat="reply in replyList" style="border: 1px solid black">
      <div>{{reply.replyID}}</div>
      <div>{{reply.replyType}}</div>
      <div>{{reply.displayName}}</div>
      <div>{{str2date(reply.replyCreatedDateTime) | date:'dd-MM-yy'}}</div>
      <!--div>{{reply.replyContent}}</div-->
      <div ng-bind-html="reply.replyContent"></div>
      <div>Reply {{reply.subReplies.count}}</div>
      <div><a href="javascript:;" ng-click="submitReply('like', reply.replyID)">{{userLikeThisReply(reply)?"LIKE":"like"}}</a> {{reply.likes.count}}</div>
      <div ng-repeat="sub in reply.subReplies.list" style="border: 1px solid blue">
        <div>{{sub.replyID}}</div>
        <div>{{sub.displayName}}</div>
        <div>{{str2date(sub.subreplyCreatedDateTime) | date:'dd-MM-yy'}}</div>
        <div>{{sub.replyContent}}</div>
      </div>
    </div>
  </section>
  <script>
	angular.module("nlapp", ['ngSanitize']).config(function($httpProvider) {
	    //Enable cross domain calls
	    $httpProvider.defaults.useXDomain = true;
	    $httpProvider.defaults.withCredentials = true;
	    $httpProvider.defaults.headers.post = {
			    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
		  };
	}).controller("DebateController", function($scope, $http){
		var newsID = 272;
		
		$http({method: 'GET', url: '//api.nl.com/auth'}).success(
			function (data, status, headers, config, statusText) {
				if (typeof data.userID != 'undefined') {
					$scope.userID = data.userID;
					$scope.displayName = data.displayName;
				}
			}
		);

		$http({method: 'GET', url: '//api.nl.com/news/'+newsID}).success(
			function (data, status, headers, config, statusText) {
				if (typeof data.news != 'undefined') {
					if (data.news.newsBannerSource.indexOf("://") < 0)
						data.news.newsBannerSource = "//"+data.news.newsBannerSource;
					$scope.news = data.news;
				}
			}
		);
		
		$http({method: 'GET', url: '//api.nl.com/news/'+newsID+'/reply'}).success(
			function (data, status, headers, config, statusText) {
				if (typeof data.replyList != 'undefined') {
					$scope.replyList = data.replyList;
				}
			}
		);
		
		var updateVoteResult = function(data) {
			if (typeof data.vote != 'undefined') {
				var vy = data.vote.agree.count;
				var vn = data.vote.disagree.count;

				if (vy+vn > 0) {
					$scope.percenty = vy * 100 / (vy+vn);
					$scope.percentn = vn * 100 / (vy+vn);
				} else {
					$scope.percenty = 0;
					$scope.percentn = 0;
				}
				
				$scope.vote = data.vote;
			}			
		};
		
		$http({method: 'GET', url: '//api.nl.com/news/'+newsID+'/vote'}).success(
			function (data, status, headers, config, statusText) {
				updateVoteResult(data);
			}
		);
		
		$scope.userVoteAgree = function() {
			for (i in $scope.vote.agree.votes) {
				if ($scope.userID == $scope.vote.agree.votes[i].userID) {
					return true;
				}
			}
			
			return false;
		};
		
		$scope.userVoteDisagree = function() {
			for (i in $scope.vote.disagree.votes) {
				if ($scope.userID == $scope.vote.disagree.votes[i].userID)
					return true;
			}
			return false;
		};
		
		$scope.userLikeThisReply = function(reply) {
			if (typeof reply.likes != 'undefined') {
				for (i in reply.likes.list) {
					if ($scope.userID == reply.likes.list[i].userID)
						return true;
				}
			}

			return false;
		};
		
		$scope.str2date = function(str) {
			return new Date(str);
		};
		
		var submitVote = function(vote) {
			var urlVote = "//api.nl.com/news/"+$scope.news.newsID+"/vote";
			var postData = "voteType="+vote;
			$http({	method: 'post', url: urlVote, data: postData}).success(
					function(data, status, headers, config, statusText){
						updateVoteResult(data);
					});
		};
		
		$scope.submitAgree = function() {
			submitVote("agree");
		};
		
		$scope.submitDisagree = function() {
			submitVote("disagree");
		};
		
		var updateReply = function(data) {
			if (typeof data.reply != 'undefined' && data.reply.replyID > 0) {
				var replyList = [data.reply];
				$.merge(replyList, $scope.replyList);
				$scope.replyList = replyList;
				
				return true;
			}
			return false;
		}
		
		$scope.agreeAreaValid = true;
		$scope.disagreeAreaValid = true;

		$scope.submitReply = function(replyType, replyID) {
			$scope.agreeAreaValid = true;
			$scope.disagreeAreaValid = true;
			
			if (replyType == "agree") {
				$scope.agreeAreaValid = $scope.agreeForm.agreeArea.$valid;
				
				if ($scope.agreeForm.$valid) {
					var urlReply = "//api.nl.com/news/"+$scope.news.newsID+"/reply";
					if (replyID > 0)
						urlReply += "/"+replyID;
					var postData = {
							replyType: replyType,
							replyContent: $scope.agreeArea
						}
					$http({method: 'post', url: urlReply, data: $.param(postData)}).success(
							function(data, status, headers, config, statusText) {
								if (updateReply(data))
									$scope.agreeArea = "";
							});
				}
			} else if (replyType == "disagree") {
				$scope.disagreeAreaValid = $scope.disagreeForm.disagreeArea.$valid;
				
				if ($scope.disagreeForm.$valid) {
					var urlReply = "//api.nl.com/news/"+$scope.news.newsID+"/reply";
					if (replyID > 0)
						urlReply += "/"+replyID;
					var postData = {
							replyType: replyType,
							replyContent: $scope.disagreeArea
						}
					$http({method: 'post', url: urlReply, data: $.param(postData)}).success(
							function(data, status, headers, config, statusText) {
								if (updateReply(data))
									$scope.disagreeArea = "";
							});
				}
			} else if (replyType == "like") {
				alert(replyID);
			} 
		};
	});
  </script>
</body>
</html>