
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
#menu-button {margin:0 auto;width: 21px;
    float: right;
    padding: 0px;
    /* border: solid 5px red; */
    top: 17px;
    right: 17px;
    height: 18px;
}
.txt_username .fa-user
{
color:#FFFFFF;float:left;margin-left:15px; margin-top:2px;
}
#cssmenu img
{
padding:17px;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {

  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}

span.top_notification
{
font-size: 10px;position: absolute;top: 21px; right:60px; z-index: 300;
}


#cssmenu {
  font-family: 'Istok Web', sans-serif;
  background: #455056;
  position:fixed;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: center;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align:center;
}
#cssmenu > ul > li:hover > a {
  color: #fff054;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 1080px) {
  #cssmenu {
    width: 100%;
	z-index:200;
	position:absolute
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: center;
  }
  #cssmenu ul li {s
    width: 100%;
    border-top: 1px solid rgba(150, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 0px;
    color: #fff054;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
	position:relative;
  }
  #cssmenu #menu-button:after {
position: absolute;
    top: 6px;
    /* right: 30px; */
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: '';  }
  #cssmenu #menu-button:before {
position: absolute;
    /* top: 16px; */
    /* right: 30px; */
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: '';  }
  #cssmenu #menu-button.menu-opened:after {
    top: 11px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 11px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}

/* FONT */




@font-face {
    font-family: 'bebasregular';
    src: url('../font/BEBAS___-webfont.eot');
    src: url('../font/BEBAS___-webfont.svg') format('svg'),
	url('../font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/BEBAS___-webfont.woff') format('woff'),
    url('../font/BEBAS___-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}



#login_area .txt_username, #login_area .txt_password
{
background-color:#454f58;
width:208px;
height:21px;
}

#login_area .txt_password
{
margin-top:10px;
}

#login_area .txt_username input, #login_area .txt_password input
{
margin-top:2px;
margin-bottom:2px;
margin-left:11px;
margin-right:2px;
padding-left:20px;
padding-top:0px;
height:17px;
width:145px;
float:right;
border:0px;
color:#464f56;
font-family: "bebasregular";
line-height:20px;
font-size:10px;
}


#submit_btn_blue
{
width:60px;
height:16px;
border: 0px;
color: #fbf6a3;
font-family: "bebasregular";
font-size:8px;

}


/*#login_others
{
padding-top:10px;
padding-left:40px;
color: #455056;
font-family: "bebasregular";
font-size:10px;

}*/

.login {
    position: relative;
    top: -55px;
    left: 214px;
}

#loginform
{
height:60px;
}
.hide
{
display:none;
}
.show
{
display:block;
}

#login_others {
    padding-top: 10px;
    padding-left: 40px;
    color: #455056;
    font-family: "bebasregular";
    font-size: 10px;
    position: relative;
    top: -2px;
}




#login_others p
{
color: #455056;
font-family: "bebasregular";
font-size:8px;
vertical-align:middle;
}



#login_others a
{
padding-left:2px;
padding-right:2px;
color: #455056;
font-family: "bebasregular";
font-size:10px;
text-decoration:underline;
}



#container i.fa-comments
{
position:absolute;top:18px;z-index:300;color:#FFFFFF; right:76px; /*left:230px;*/
}

#container #cssmenu i.fa-user
{
position:absolute;top:18px;z-index:300;color:#FFFFFF; right:103px; /*left:230px;*/
}




.login a
{
padding-left:2px;
color:#455056;
font-family: "bebasregular";
font-size:7px;
text-decoration:underline;

}

#menu-button img
{
padding-left:2px;
}

#category_list
{
margin-top:37px;
}


#category_list ul
{
margin: 0 auto;
width:100%;
text-align:center;
}

#category_list ul li
{
display:inline;
font-family: "bebasregular";
line-height:20px;
font-size:12px;
color: #455056;
}

#category_list ul li a
{
display:inline;
font-family: "bebasregular";
line-height:20px;
font-size:12px;
color: #455056;
text-decoration:none;
}
#category_list ul li a:hover
{
text-decoration:underline;
}

.lazy {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.lazy.loaded {
  opacity: 1;
}







/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

#container i.fa-comments {
    position: absolute;
    top: 19px;
    z-index: 300;
    color: #FFFFFF;
    right: 76px;
    /* left: 230px; */
}

#container i.fa-user {

    color: #FFFFFF;
    /*     top: 19px;
    z-index: 300;

    right: 103px;
left: 230px; */
}



span.top_notification
{
font-size: 10px;position: absolute;top: 21px; right:60px; z-index: 300;
}


/*#container i.fa-comments
{
left:462px !important;
}
*/

.ind_article_bg {
    opacity: 0.5;
    background-color: #444f55;
    height: 65px;
    width: 100%;
    /* margin-left: -8px; */
    position: relative;
    bottom: 85px;
}
.ind_title_article h4 {
/*    bottom: -161px;*/
}

.ind_title_article h5 {
/*    bottom: -168px;*/
}

#login_area
{
padding-left:148px;
}


/*.login
{
top:72px;
left:364px;
}*/

#menu-button
{
top:22px;
}

#cssmenu #menu-button.menu-opened:after, #cssmenu #menu-button.menu-opened:before
{
top:7px;
}

/*#cssmenu #menu-button
{
width:100% !important;
}
#cssmenu #menu-button:before, #cssmenu #menu-button:after
{
right:20px !important;
}

#cssmenu ul
{
width:568px;
}
*/
}


/*
IPhone portrait mode: */
@media all and (min-width: 0px) and (max-width: 320px) {

span.top_notification
{
font-size: 10px;
/*position: absolute;*/
z-index: 300;
/*top: 19px;
left: 249px;
*/
}

#cssmenu #menu-button:after
{
top:11px;
}

#cssmenu #menu-button:before
{
top:5px;
}


.ind_article_bg
{
position:relative;
/*bottom:-95px;*/
width:100%;
opacity:0.5;
}
.ind_title_article h4
{
/*bottom:-38px;*/

}

.ind_title_article h5
{
/*bottom:-36px;*/
}

#container i.fa-comments {
    position: absolute;
 
    z-index: 300;
    color: #FFFFFF;

    /* 

    right: 76px;
	   top: 17px;
	left: 230px; */
}




#container i.fa-user {

 
    z-index: 300;
    color: #FFFFFF;

    /* 

    right: 76px;
	   top: 17px;
	left: 230px; */
}










}



/*IPhone landscape mode:*/
@media all and (min-width: 421px) and (max-width: 520px)
 {
 #container i.fa-comments {
    z-index: 300;
    color: #FFFFFF;

    /*position: absolute;
    top: 20px;
    left: 391px;*/
}

span.top_notification
{
font-size: 10px;z-index: 300;
/*right:56px; top: 20px;position: absolute;*/
}

#menu-button
{
padding:0px !important;
width:22px;
top:17px;}

#cssmenu #menu-button:before
{
top:5px;

}

#cssmenu #menu-button:after
{
top:11px;
}

/*#cssmenu ul
{
width:500px;
}*/

 .ind_article_bg
{
    position: relative;
    bottom: 85px;
}

/*.login
{
left:324px;
top:68px;
}*/

#login_area
{
padding-left:103px;
}

 }













/*Samsung portrait mode:*/
@media all and (min-width: 321px) and (max-width: 420px) {

span.top_notification
{
font-size: 10px;position: absolute;top: 21px;right:60px;z-index: 300;
}
.ind_title_article h4
{
/*bottom: -61px;*/
}

.ind_title_article h5
{
/*bottom: -61px;*/
}

.ind_article_bg
{

/*bottom:-115px;*/
position:relative;

}

/*#container i.fa-comments
{
top:18px;
left:274px;
}*/

#cssmenu #menu-button:after
{
position:absolute;
top:8px;
}

#cssmenu #menu-button:before
{
position:absolute;
top:2px;
}

}
 

/* 

Samsung landscape mode: */
@media all and (min-width: 521px) and (max-width: 640px) 



{


.ind_article_bg
{
/*bottom:-255px; */

}

#login_area
{padding-left:188px;}

.ind_title_article h4
{
/*bottom:-210px;*/
}

.ind_title_article h5
{
/*bottom: -211px;*/
}

/*.login
{
top:73px;
left:413px;
}*/

}

/* samsung note 3 */
@media only screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2)
{

}

@media screen and (device-width: 320px) and (device-height: 533px) and (-webkit-device-pixel-ratio: 1.5) {

}




 /*
IPad/IPad mini portrait mode:
@media all and (min-width: 721px) and (max-width: 840px) {}
 
IPad/IPad mini landscape mode:
@media all and (min-width: 921px) and (max-width: 1040px) {}
 */


/*, only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px)*/

/* Debate page starts here */


.debate_head_main
{
    height: 4px;
    margin: 0 auto;
    background-image: url(../images/debate-title-border.jpg);
    margin: 20px;
    margin-top: 37px;
    margin-bottom: 0px;}

.debate_heading {
    text-align: center;
    position: relative;
    bottom: 7px;
}
.debate_title {
    font-family: bebasregular;
    font-size: 15px;
    color: #455056;
    line-height: 25px;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
}


.debate-comments
{

background-color: #72c489;
    padding: 10px;
	line-height:15px;
    font-size: 12px;
    font-family: 'arial';
padding-left:20px;
padding-right:20px;
    color: #FFFFFF;
    border-bottom:solid 5px #3d3e3e;
}
.last-reply
{border-bottom:solid 5px #3d3e3e; border-top:solid 5px #3d3e3e;}
.other_replys_section
{padding:20px 20px 10px 20px;background-color:#6c8794;border-bottom:solid 5px #3d3e3e;}

.debate_date
{
text-align:right;
width:20%;
float:right;
font-size:12px;
    font-family: bebasregular;

color: #2d2d2d;
}

.debate_date_replys
{
padding-top:2px;
float:left;
font-size:12px;
    font-family: bebasregular;
width:20%;
color: #2d2d2d;
}



.debate_username
{
width:70%;
    font-family: bebasregular;
    font-size: 15px;
color:#2d2d2d;
padding-left:4px;
position:relative;
text-align:left;
	
}


.debate_username_replys
{
    font-family: bebasregular;
    font-size: 15px;
color:#2d2d2d;

width:70%;
float:left;	
text-align:right;
}


.debate_comments_section > div
{
float: none;
    display: inline-block;
    vertical-align: top;
}
.debate_comments_section
{padding-bottom:5px; width:100%;}

.debate_comments_section div.debate_date_replys, .debate_comments_section div.debate_username_replys
{padding-top:3px;}

.debate_user_actual_comments
{color:#2c2d2d; width:90%; padding-left:4px; text-align:left;font-size: 12px; font-family: 'arial';}

.replys_debate_comment-icon .fa-comment, .debate_comment-icon .fa-comment
{
color:#2d2d2d; font-size:15px;}
.replys_debate_user_actual_comments, .replys_debate_user_total_reply_count
{color:#2d2d2d; text-align:right;}
.replys_debate_user_actual_comments
{width:70%;}
 
.replys_debate_user_total_reply_count
{
width:19%; 
}

.replys_debate_user_actual_comments, .replys_debate_user_total_reply_count
{
line-height: 15px;
    font-size: 12px;
    font-family: 'arial';
}

.debate_comment-icon
{
width:5%; float:left;}
.debate_comment-icon .fa-comment-o
{font-size:16px !important;
color:#3d3e3e !important;}





.replys_debate_comment-icon
{
width:5%; float:left;text-align:right;}

.replys_debate_comment-icon .fa-comment-o
{font-size:16px !important;
color:#3d3e3e !important;}


.empty_cls
{width:20%;}


.debate_user-icon
{padding-right:1px; width:5%;}

.debate_user-icon .fa-user
{
font-size:18px !important;
color:#2d2d2d !important;
}

.debate_user-icon_replys
{width:5%;float:left; text-align:right;}
.debate_user-icon_replys .fa-user
{
font-size:18px !important;
color:#2d2d2d !important;
}


.debate_likes_status
{

float:left;
width:7%;

}


.submit_btn_disagree-reply-comment
{}
.debate_reply_section
{padding-bottom:20px;}
.debate_likes_status i.fa-heart-o, .debate_likes_status i.fa-heart, .replys_debate_user_likes_status i.fa-heart-o, .replys_debate_user_likes_status i.fa-heart
{
font-size:16px;
}
.replys_debate_user_likes_status i.fa-heart-o, .replys_debate_user_likes_status i.fa-heart, .replys_debate_user_total_reply_count, .replys_debate_comment-icon
{color:#fff;}


.replys_debate_user_likes_status i.fa-heart-o, .replys_debate_user_likes_status i.fa-heart
{
padding-right:13px;}

.replys_debate_user_likes_status
{
text-align:right;
width:70%;
color:#fff;
line-height: 15px;
    font-size: 12px;
    font-family: 'arial';
	padding-bottom:20px;
}

.debate_reply_count
{padding-right:13px;float:left; padding-left:7px;}
.debate_reply_icon
{width:5%;float:left;padding-right:3px;}
.debate_reply_icon .fa-paper-plane
{
font-size:16px;}
.pagination a.current
{
color:#fbf6a3;
}


.pagination a
{
   color: #566368;
}

.paginationdash
{padding-left:2px;
padding-right:2px;}


.pagination ul li
{
    color: #566368;
display:inline;
}

.pagination
{
background-color: #94b0bb;
text-align:center;
    padding: 20px;
	line-height:15px;
    font-size: 12px;
    font-family: 'arial';
    color: #FFFFFF;
}
.lastcomments
{
border:0;
}

.noTopmargin
{
margin-top:0px;
}
span.dashsign
{
color:#566368;
font-size:12px;
font-family: 'arial';

}

.reply-txt
{
    padding-top: 10px;
    color: #fbf6a3;
    font-size: 12px;
    font-family: 'arial';
    width: 50%;
    float: left;}

.reply-count-history
{
width:100%;
padding-bottom:40px;
}
.reply-date
{
padding-top: 10px;
    color: #566368;
    font-size: 12px;
    font-family: 'arial';
    width: 50%;
    float: right;
    text-align: right;}





.cl1
{
border-top: solid 2px #fff;margin:0 auto; width:90%;
}

.comments_txt, .reply_txt
{
color: #fbf6a3;
}


.reply_date
{
text-align:right;color:#fbf6a3;
}
.comments_dt
{
text-align:right;color:#fbf6a3;
}

.reply_container
{
margin-left:30px;margin-top:10px;border-top: solid 2px #566368;
}

.toppad
{
padding-top:10px;
}


.agree, .disagree
{
font-size: 17px;
    font-family: 'bebasregular', sans-serif;
    line-height: 17px;
}

.agree span, .disagree span
{
vertical-align:middle;
padding-left:3px;
padding-right:3px;
}

.nl-singlearticle-resultsvote
{
text-align:center;width:100%; padding-top:27px;padding-bottom:27px;
}

.nl-singlearticle-resultsvote-btns{
    text-align: center;
    margin: 0px auto;
    width: 80%;
padding:20px;	
}
.nl-singlearticle-resultsvote-btns > div
{
display: inline-block;

/*text-align: center;
    width: 90%;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 22px;
*/
}

#nl-singlearticle-agree-btn
{
font-size: 17px;
    font-family: 'bebasregular', sans-serif;
    line-height: 17px;
vertical-align:middle;
-webkit-appearance: none;
border-radius: 15px;

-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 15px; -o-border-radius: 15px; 
}





#nl-singlearticle-disagree-btn
{
font-size: 17px;
vertical-align:middle;
    font-family: 'bebasregular', sans-serif;
    line-height: 17px;
}

.agree
{
	color: #72c489;

}
.disagree
{
color: #6c8794;
}


.agree-btn, .disagree-btn
{width: 41%;

    text-align: center;
    padding:3% 2% 2% 2%;
}
.agree-btn
{
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.disagree-btn
{
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}



.agree-btn a, .disagree-btn a
{
color:#fff;}


.add_a_reply_section
{
background-color: #72c489;

padding-top:20px;
padding-bottom:20px;
    text-align: center;

}

.add_a_reply_section textarea
{
width:80%;
padding:20px;
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
border: solid 3px #2d2d2d;
margin-top:10px;
height:50px;
}

.agree-reply-comment-box
{padding-top:37px;}

.add_a_reply_section #submit_btn_blue_disagree, .disagree-reply-comment-box .submit_btn_disagree-reply-comment, .agree-reply-comment-box .submit_btn_agree-reply-comment
{
cursor: pointer;
    padding: 6px 5px;
    background: #2d2d2d;
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    height: 20px;
    margin-top: 12px;
	width:82px;
height:24px;
border: 0px;

font-family: "bebasregular";


	}







.nl-singlearticle-commentarea-agree, .nl-singlearticle-commentarea-disagree
{
background-color: #72c489;
    padding: 20px;

    text-align: center;

}

.nl-singlearticle-commentarea-agree textarea, .nl-singlearticle-commentarea-disagree textarea
{
width:80%;
padding:20px;
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
border: solid 3px #2d2d2d;
margin-top:10px;
height:50px;
}
.nl-singlearticle-commentarea-agree #submit_btn_blue_agree, .nl-singlearticle-commentarea-disagree #submit_btn_blue_disagree
{
cursor: pointer;
    padding: 6px 5px;
    background: #2d2d2d;
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    height: 20px;
    margin-top: 12px;
	width:82px;
height:25px;
border: 0px;

font-family: "bebasregular";


	}

#debate_area
{
text-align:center;
font-family: "bebasregular";
font-size: 20px;
line-height:20px;
padding:10px;

background-color:#2d2d2d;
color:#FFFFFF;
padding-top:20px;
}

.usernotify
{width:100%;font-size: 12px;font-family: 'arial';padding:10px 0px 10px 0px;border-bottom: solid 1px #000;}

div.usernotify:last-child
{border: 0px;}

.notifytxt{padding-left:20px;padding-right:20px; color:#fff;}

.notificationdate
{padding-top:10px;text-align:right;padding-right:20px;color:#556266;}
.userdetail
{color:#EAEAB6;}

.not_read_notify
{background-color:#80969F; }

.read_notify
{background-color:#93AFB9; }

.punctuation-sign
{color:#fff;}
.notifytxt i{color:#48555B;padding-right:10px;}


#user_register
{background-color:#FEF79F; text-align:center;width:100%;min-height:150px;}

#user_register form input[type="text"], #user_register form input[type="email"], #user_register form input[type="password"] {
	-webkit-appearance: none;
border-radius: 5px;

-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -o-border-radius: 5px; 
border: solid 2px #454F58;



margin-top: 2px;
    padding-left: 10px;
    padding-top: 0px;
    height: 20px;
    width: 145px;
  
    font-family: "bebasregular";
    line-height: 20px;
    font-size: 10px;



	
	
}





#user_register form input[type="radio"]{
vertical-align:middle; margin-left:5px;background-color: red; 

  
  }












#user_edit_section
{width:100%;background-color:#ccffff; text-align:center;}


#user_register form div span.user_label{font-family: "bebasregular";
    line-height: 20px;
    font-size: 12px;padding-right:5px; display:block;}


#user_register div {
	padding-top:10px;
    color: #455056;
    font-family: "bebasregular";
    font-size: 12px;
	background-color:#FEF79F;
    }

#user_register .txt_gender div{padding-top:0px !important;}
	
#user_register .txt_submit
{padding-bottom:20px; padding-top:30px;}

.txt_gender div{text-align:center;width:70px; margin:0 auto;}


.txt_gender div span.user_label
{text-align:left;}

.txt_gender div span.user_label input{float:right; margin-top:2px;}

.reqTxt, .errTxt
{color:#cc0000 !important;}

.succTxt
{color:#00cc00 !important;}

.profile_circular
{
width: 120px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	
}
#profile_photo
{float:left;width:50%;position:relative;}
#add_profile_photo
{float:left;width:50%;position:relative; text-align:left;margin-top:20px;}

#profile_img_section
{width:100%;position:relative;float:left; padding-top:20px;padding-bottom:20px;}

#add_profile_photo span, #add_profile_photo a
{margin-left:20px;}
#add_profile_photo a#upload_link
{color:#455056 !important; font-family: "bebasregular"; font-size: 12px; line-height:20px; text-decoration:underline;}

#profile_photo img{ float:right;}

.uploadbtn
{display:none;}
.userentries
{margin-top:0px !important;}
 .userentries span
{ display:block;}
.usermoreinfo
{font-family: "bebasregular";
    line-height: 15px;
    font-size: 11px;padding-top:10px;}

	
	.userdetailtxt
{
	padding-top:10px;
	height: 10px;	
    width: 100px;
	font-size:10px;
	padding-top:10px;}
	
	
.profilevalbox
{-webkit-appearance: none;
   
    border: solid 1px #454F58;
    margin-top: 2px;
    padding-left: 5px;
    padding-top: 0px;
    height: 20px;
    width: 100px;
    font-family: "bebasregular";
    line-height: 20px;
    font-size: 10px;
	background-color:#fff;}
	
	
#question_section textarea {
    width: 60%;
    padding: 20px;
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: solid 3px #2d2d2d;
    margin-top: 10px;
    height: 50px;
}
	
	
	
	#question_section #question_submit_btn  {
    cursor: pointer;
    padding: 6px 5px;
    background: #2d2d2d;
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    height: 20px;
    margin-top: 12px;
    width: 82px;
    height: 24px;
    border: 0px;
    font-family: "bebasregular";
}

#question_section
{text-align:center;padding-top:20px;padding-bottom:20px;}
	#question_section .que_heading
	{	font-family: "bebasregular";
    line-height: 20px;
    font-size: 15px;}
	#question_section .que_second_heading
	{	font-family: "bebasregular";
    line-height: 20px;
    font-size: 15px;}
	
	#user_edit_section
	{
		
	padding-top:20px;	
	padding-bottom:20px;	
		background-color: #445055;
		
	}
	#user_edit_section div
	{padding-top:20px;}
	#user_edit_section div a
	{
		font-family: "bebasregular";
    line-height: 20px;
    font-size: 15px;
	text-decoration:underline;
	
		
	}
	.notoppad
	{padding-top:0px !important;}
	.debate_reply_txt
	{border-top:solid 1px #000;padding-top:10px; margin-left:20px;}
	
	
	.debate_reply_txt .debate_reply_dt
	{text-align:right;color:#EAEAB6;padding-bottom:10px;padding-top:10px; width:100%;}
	.debate_comments_dt{text-align:right;color:#EAEAB6;padding-bottom:10px;padding-top:10px;}
	.debate_comments_txt_style{color:#EAEAB6;}
	.debate_comments_txt_main{border-top:solid 1px #000;padding-top:10px;}
	.debate_tracking_txt
	{color:#fff;}
	
	.debate_tracking_container
	{padding-left:20px;padding-right:20px;text-align: left;margin: 0 auto;}
	.debate_tracking_date
	{text-align:right;color:#556266}
	.debate_tracking_replys_count
	{text-align:left;color:#EAEAB6;}
	.debate_comments_txt
	{display:none;padding-top:10px;text-align:left;color:#fff;}
	
/* Debate page ends here */