RewriteEngine On

#this is for specific users
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^auth$ auth.php [QSA,NC,L]

RewriteRule ^news$ news.php [QSA,NC,L]
RewriteRule ^news\/([^/]*)$ news.php?newsID=$1 [QSA,NC,L]
RewriteRule ^news\/([^/]*)\/reply$ reply.php?newsID=$1 [QSA,NC,L]
RewriteRule ^news\/([^/]*)\/reply\/([^/]*)$ reply.php?newsID=$1&replyID=$2 [QSA,NC,L]
RewriteRule ^news\/([^/]*)\/reply\/([^/]*)\/([^/]*)$ reply.php?newsID=$1&replyID=$2&subReplyID=$3 [QSA,NC,L]
RewriteRule ^news\/([^/]*)\/vote$ vote.php?newsID=$1 [QSA,NC,L]

RewriteRule ^user$ user.php [QSA,NC,L]
RewriteRule ^user\/([^/]*)$ user.php?userID=$1 [QSA,NC,L]
RewriteRule ^user\/([^/]*)\/notification$ notification.php?userID=$1 [QSA,NC,L]
RewriteRule ^user\/([^/]*)\/reply$ reply.php?userID=$1 [QSA,NC,L]

RewriteRule ^category$ category.php [QSA,NC,L]
RewriteRule ^category\/([^/]*)$ category.php?categoryID=$1 [QSA,NC,L]

RewriteRule ^verify\/([^/]*)\/([^/]*)$ verify.php?uniqCode=$1&emailaddress=$2 [QSA,NC,L]

RewriteRule ^contact$ contact.php [QSA,NC,L]